.btn {
    width: 8rem;
    background-color: #5e005e;
    color: #fff;
    border: 0px;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}