.card {
    box-shadow: 2px 2px 3px 0 rgb(142, 142, 142);
    border-left: 0.3rem solid #5e005e76;
}

.card-title {
    padding: 1.5em;
    background-color: #eedeee;
    min-height: 2.2rem;
}

.card-container {
    padding: 1rem 2rem;
}

.card-footer {
    padding-top: 0.5rem;
    border-top: 1px dashed #5e005e76;
    list-style: none;
    display: flex;
    flex-grow: 1;
    margin-bottom: auto;
    /* align-items: baseline; */
    /* justify-content: flex-start; */

}

li {
    width: 8rem;
    text-transform: uppercase;
    margin-right: 2rem;
    color: #5e005e76;
    
}